* {
    box-sizing: border-box;
}

body {
    background-color: #FBB901;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.outer {
    position: relative;
    height: 100%;
}

.grid-container {
    width: 50%;
    height: 250px;
    margin: auto;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100px 100px;
    gap: 10px;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
}

.grid-container div {
    text-align: center;
    border: 3px dashed #000;
    font-size: 2em;
    line-height: 90px;
}

.grid-container div:hover {
    background-color: #E40475;
    color: #fff;
}

a {
    text-decoration: none;
}

.hf {
    padding: 40px;
    background-color: #5D13E7;
    color: #fff;
    font-size: 1.5em;
    width: 100%;
    text-align: center;
}
.header {
    font-size: 1.8em;
}

.footer {
    position: absolute;
    left: 0;
    bottom: 0;
}

@media screen and (max-width: 700px) {
        .grid-container {
            width: 80%;
            grid-template-columns: 100%;
            position: static;
            height: 100%;
            margin: 20px auto;
        }

        .footer {
            position: static;
        }
}